﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BlackHills Page</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

<body>
    <header>
        <br />
        <div class="col-11">
            <span style="float:right"><partial name="_LoginPartial" /></span>
        </div>
        <div class="row">
            <div class="col-3"></div>
            <div class="col-9">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index"><h2><img src="~/images/logo.png" /> <b>Black Hills Generation Digital Library</b> </h2></a>
            </div>
        </div>
        <div>
            <div class="Col-12">
                <nav class="navbar-dark bg-dark">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <label class="lable-control text-center" style="float: right;vertical-align: text-bottom;">
                        <font color="darkorange" ; size="3">For technical support, email:</font> &nbsp;&nbsp;
                        <font color="darkorange" ; size="3">BHEPowerGenerationDocumentControls@BlackhillsEnergy.com</font>
                        &nbsp;&nbsp;
                    </label>
                </nav>
            </div>

            @if (User.Claims.Where(c => c.Type == "groups").Where(v => v.Value == @Configuration.GetSection("Groups")["GroupAdmin"]).Count() != 0)
            {

                <div class="collapse" id="navbarToggleExternalContent">
                    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom mb-3">
                        <div class="container">
                            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                                <ul class="navbar-nav flex-grow-1">
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Facilities" asp-action="Index">Facilities</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Units" asp-action="Index">Units</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Drawings" asp-action="Index">Drawings</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            }
        </div>
        <br />
        <div class="rowBorder"></div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css" />
    <script type="text/javascript" src="//cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script>
    window.resolveUrl = function(url) {
        return "@Url.Content("~")" + url;
    };
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
