﻿@using System.Security.Principal

<ul class="navbar-nav">
    @if (User.Identity.IsAuthenticated)
    {
        <li class="nav-item">
            <span class="text-dark">Hello @User.FindFirst("Name").Value! &nbsp;&nbsp;</span>
        </li>
    }
</ul>
