﻿@model BlackHills.ViewModel.DrawingsViewModel
@{
    ViewData["Title"] = @ViewBag.TitleMessage;
}

<style>

    #popup1 {
        z-index: 9997;
    }

    #errorDialog {
        z-index: 9998;
    }

    #long-textbox {
        width: 300px;
    }

    .editorBig {
        width: 400px;
        height: 30px;
    }

</style>

<form id="DrawingsForm" name="DrawingsForm" asp-controller="Drawings" asp-action="SaveDrawing" method="post" enctype="multipart/form-data">
    
        <input type="hidden" id="displayStatus" value="" />
        <input type="hidden" id="selectedOption" value="" />

        @Html.HiddenFor(model => model.isActive)
        <div class="modal-content" id="popup1">
            <div class="modal-header text-center">
                <h4 class="modal-title text-center" id="editFacility" text-align="center">@ViewBag.TitleMessage</h4>
                <button type="button" class="close" data-dismiss="modal">
                    <span>x</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    @Html.HiddenFor(model => model.DrawingId)
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-9"><span id="errorFacIdMessage" style="color:red"></span></div>
                        <div class="col-md-12">
                            <div class="form-group editor editorMediumText">
                                <label>Facility</label>
                                @Html.DropDownListFor(f => f.FacilityId, Model.ListFacilities, "Select", new { style = "width:400px; height:30px;" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-9"><span id="errorUnitIdMessage" style="color:red"></span></div>
                        <div class="col-md-12">
                            <div class="form-group editor editorMediumText">
                                <label>Unit</label>
                                @Html.DropDownListFor(f => f.UnitId, Model.ListUnits, "Select", new { style = "width:400px; height:30px;" })

                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-9"> <span id="errorDrawingMessage" style="color:red"></span></div>
                        <div class="col-md-12">
                            <div class="form-group editor editorMediumText">
                                <label>Drawing Name</label>
                                @Html.TextBoxFor(M => M.DrawingName, new { style = "width:400px; height:30px;", title = "Max 100 characters allowed" })

                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group editor editorMediumText">
                                <label>System Description</label>
                                @Html.TextBoxFor(M => M.SystemDescription, new { style = "width:400px; height:30px;" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-9"> <span id="errorFileUploadMessage" style="color:red"></span></div>
                        <div class="col-md-12">
                            <div class="form-group editor editorMediumText">
                                <label>Upload File</label>
                                @Html.TextBoxFor(M => M.DrawingPDFFile, "", new { type = "file", @class = "control-control" })
                            </div>
                        </div>
                        <div class="col-md-3"></div>
                        <div class="col-md-9">
                            <a href="@Url.Action("Download", "Home", new { filePath = Model.FilePath })" target="_blank" class="button3">@Model.FileName</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group editor editorMediumText">
                                <input type="submit" id="SaveEditDrawing" value="Save" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" href="#errorDialog">
                                <input type="button" class="btn btn-primary" data-dismiss="modal" value="Cancel">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </form>

    <script>
    var drawingsMasterList = @Html.Raw(Json.Serialize(Model.drawingsMasterList));

    $(document).ready(function () {
        if ('@ViewBag.selectedOption' != "") {
            $("#selectedOption").val('@ViewBag.selectedOption');
            }

            if ('@ViewBag.displayStatus' != "") {
                $("#displayStatus").val('@ViewBag.displayStatus');
            }
        $("#errorDialog").dialog({
            autoOpen: false,
            modal: true,
            draggable: true
        });
        $('#DrawingName').on('keypress', function (event) {
            var regex = new RegExp("^[a-zA-Z0-9 /-]+$");
            var key = String.fromCharCode(!event.charCode ? event.which : event.charCode);
            if (!regex.test(key)) {
                event.preventDefault();
                return false;
            }
        });
    });

    $('#FacilityId').change(function () {
        var facId = $('#FacilityId').val();
        $.ajax({
            url: 'Drawings/LoadUnitsDropdown/' + facId,
            type: 'GET',
            data: JSON,
            cache: false,
            success: function (data) {
                $('#UnitId').html("")
                $('#UnitId').append('<option value="' + 0 + '">Select</option>');
                $.each(data, function (index, value) {
                    $('#UnitId').append('<option value="' + value.value + '">' + value.text + '</option>');
                });
            }
        });


    });

    $('#SaveEditDrawing').click(function () {

        var errorFlag = false;

        if (($("#DrawingName").val().trim() == "" || $("#DrawingName").val().length == 0)) {
            $("#errorDrawingMessage").text("Please Enter Drawing Name");
            errorFlag = true;
        }
        else {
            $("#errorDrawingMessage").text("");
        }

        if ($("#FacilityId").val() == 0) {
            $("#errorFacIdMessage").text("Please Select Facility");
            errorFlag = true;
        }
        else {
            $("#errorFacIdMessage").text("");
        }
        if ($("#UnitId").val() == 0) {
            $("#errorUnitIdMessage").text("Please Select unit");
            errorFlag = true;
        }
        else {
            $("#errorUnitIdMessage").text("");
        }

        var pdfFileVal = $("#DrawingPDFFile").val();
        if ((pdfFileVal != '' && pdfFileVal.length != 0) && (!(pdfFileVal.toLowerCase().endsWith(".pdf")))) {
            $("#errorFileUploadMessage").text("Please upload PDF files ONLY.");
            errorFlag = true;
        }
        else {
            $("#errorFileUploadMessage").text("");
        }

        var drawName = $("#DrawingName").val().trim();
        var unitId = $("#UnitId").val().trim();
        for (var i = 0; i < drawingsMasterList.length; i++) {
            var drawStr = drawingsMasterList[i].split(";");
            var unitIdMaster = drawStr[0].trim();
            var drawingNameMaster = drawStr[1].trim();
            if (drawName == drawingNameMaster && unitId == unitIdMaster) {
                $("#errorDrawingMessage").text("Drawing Name already exists for the selected facility & unit");
                errorFlag = true;
                break;
            }
        }

        if (errorFlag) {
            return false;
        }
        else {
                var status = $("#displayStatus").val();
                var selectedOption = $("#selectedOption").val();

                var input = $("<input>")
                    .attr("type", "hidden")
                    .attr("name", "displayStatus").val(status);


                var input1 = $("<input>")
                    .attr("type", "hidden")
                .attr("name", "selectedOption").val(selectedOption);

            $('#DrawingsForm').append(input1);
            $('#DrawingsForm').append(input);
            $("#DrawingsForm").submit();
        }

    })
    </script>
