﻿@model BlackHills.ViewModel.DrawingsListModel

@{
    ViewData["Title"] = "BlackHill Drawings";
}


<style>
    .editorBig {
        width: 400px;
        height: 30px;
    }

    
</style>

<div>
    <div>
        <br />
        <h2>Manage Drawings</h2>
    </div>
    <br />
</div>

<div class="modal" id="myDrawingsModal" style="width:650px;height:600px;top:100px;left:480px;display:none;">

</div>

<div class="modal" id="myEditDrawingsModal" style="width:650px;height:600px;top:100px;left:480px;display:none;">

</div>

<div id="deleteDialog" title="Confirmation Required">
    Are you sure you want to delete this drawing?
</div>

<form id="BlackHillsForm" asp-controller="Home" asp-action="Index">

    <input type="hidden" id="displayStatus" value="" />
    <input type="hidden" id="selectedOption" value="" />

    <div class="container position-relative">
        <input type="button" id="newMaterial" class="btn btn-primary" href="@Url.Action("AddDrawing", "Drawings")" data-toggle="modal" data-target="#myDrawingsModal" value="Add New" />
    </div>


    <div class="container position-relative">
        @if (Model.Data != null)
        {

            <div style="background-color:white; padding-top:3px; padding-right:5px">
                
                <div class="row" style="width:100%">
                    &nbsp;
                    <div class="col-2">
                        <label style="float:left; font-size:18px;">
                            <b><input type="radio" id="showActive" name="show" class="check_in" value="showActive" checked="checked" style="height:20px; width:20px;" />Show Active</b>
                        </label>
                    </div>
                    <div class="col-2">
                        <label style="float:left; font-size:18px;">
                            <b><input type="radio" name="show" id="showInactive" class="check_in" value="showInactive" style="height:20px; width:20px;" />Show Inactive</b>
                        </label>
                    </div>
                </div>


                <table id="tblIndex" class="table table-sm table-bordered table-striped table-hover bg-white" width="100%">
                    <thead>
                        <tr>
                            <th style="display: none"></th>
                            <th width="15%">Drawing Name</th>
                            <th width="20%">System Description</th>
                            <th width="20%">Unit</th>
                            <th width="20%">Facility</th>
                            <th width="25%" class="no-sort"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Data != null)
                        {
                            @foreach (var item in Model.Data)
                            {
                                <tr>
                                    <td style="display: none">@item.DrawingId</td>
                                    @if (item.FilePath != null)
                                    {
                                        <td><a href="@Url.Action("Download", "Home", new { filename = item.FilePath })" target="_blank" class="button3">@item.DrawingName</a></td>
                                    }
                                    else
                                    {
                                        <td>@item.DrawingName</td>
                                    }
                                    <td>@item.SystemDescription</td>
                                    <td>@item.UnitDesc</td>
                                    <td>@item.FacilityDesc</td>
                                    <td>
                                        <input type="button" id="editBtn" class="btn btn-primary" data-toggle="modal" data-target="#myEditDrawingsModal" value="Edit" />

                                        <input type="submit" id="deleteBtn" value="Delete" class="dosubmit btn btn-primary" />

                                        @if (item.isActive)
                                        {
                                            <input type="button" id="InactivateBtn" value="Inactivate" class="dosubmit btn btn-primary" />
                                        }
                                        else
                                        {
                                            @if (item.unitStatus)
                                            {
                                                <input type="button" id="ActivateBtn" value="Activate" class="dosubmit btn btn-primary" />
                                            }
                                            else
                                            {
                                                <input type="button" disabled="disabled" id="ActivateBtn" value="Activate" class="dosubmit btn btn-primary" />
                                            }
                                        }
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        }
    </div>

</form>


@section Scripts {

    <script>

        $(document).ready(function () {
             if ('@ViewBag.selectedOption' != "") {
                $("#" + '@ViewBag.selectedOption').prop('checked', true);
                $("#selectedOption").val('@ViewBag.selectedOption');
             }

            if ('@ViewBag.displayStatus' != "") {
                $("#displayStatus").val('@ViewBag.displayStatus');
            }
        });

        var table = $('#tblIndex').DataTable({
            'paging': false,
            "sScrollY": "500",
            'info': false,
            'ordering': false,
            "columnDefs": [
                { "searchable": false, "targets": 0 },
                { "orderable": false, "targets": "no-sort" }
            ]
        });

        $('#myDrawingsModal').on('show.bs.modal', function (e) {

            var url = '@Html.Raw(@Url.Action("AddDrawing", "Drawings", new { displayStatus = "replaceVar1", selection = "replaceVar2"}))';
            var displayStatus = $("#displayStatus").val();
            var selectedOption = $("#selectedOption").val();
            var url1 = url.replace("replaceVar1", displayStatus);
            var url2 = url1.replace("replaceVar2", selectedOption);
            $('#myDrawingsModal').load(url2);

        })

        $("#deleteDialog").dialog({
            autoOpen: false,
            modal: true
        });

        $('#myEditDrawingsModal').on('show.bs.modal', function (e) {
            var $button = $(e.relatedTarget);
            var $row = $button.closest("tr");
            var $tds = $row.find("td");
            var drawingId;

            $.each($tds, function (i, value) {
                if (i == 0) {
                    drawingId = $(this).text().trim().toString();
                }
            });

            var displayStatus = $("#displayStatus").val();
            var selectedOption =  $("#selectedOption").val();
            var url = '@Html.Raw(@Url.Action("EditDrawing", "Drawings", new { drawingId = "replaceVar1", displayStatus = "replaceVar2", selection="replaceVar3"}))';
            var url1 = url.replace("replaceVar1", drawingId);
            var url2 = url1.replace("replaceVar2", displayStatus);
            var url3 = url2.replace("replaceVar3", selectedOption);
            $('#myEditDrawingsModal').load(url3);

        })



        $('.dosubmit').click(function (e) {

            var currrow = $(this).closest('tr');
            var drawingId = currrow.find('td:eq(0)').text().trim();
            var displayStatus = $("#displayStatus").val();
            var selectedOption = $("#selectedOption").val();

            if ($(this).val() == 'Activate') {
                var url = '@Html.Raw(@Url.Action("ActivateDrawing", "Drawings", new { drawingId = "replaceVar1",status="false", selection = "showInactive" }))';
                var urlWithParam1 = url.replace("replaceVar1", drawingId);
                window.location.href = urlWithParam1;
            }

            if ($(this).val() == 'Inactivate') {
                var url = '@Html.Raw(@Url.Action("InactivateDrawing", "Drawings", new { drawingId = "replaceVar1", status="true", selection = "showActive" }))';
                var urlWithParam1 = url.replace("replaceVar1", drawingId);
                window.location.href = urlWithParam1;
            }

            if ($(this).val() == 'Delete') {

                var url = '@Html.Raw(@Url.Action("DeleteDrawing", "Drawings", new { drawingId = "replaceVar1", displayStatus="replaceVar2", selection= "replaceVar3"}))';
                var urlWithParam1 = url.replace("replaceVar1", drawingId);
                var urlWithParam2 = urlWithParam1.replace("replaceVar2", displayStatus);
                var urlWithParam3 = urlWithParam2.replace("replaceVar3", selectedOption);
                e.preventDefault();
                $("#deleteDialog").dialog({
                    buttons: {
                        "Yes": function () {
                            $("#BlackHillsForm").attr("action", urlWithParam3);
                            $('#BlackHillsForm').submit();
                        },
                        "No": function () {
                            $(this).dialog("close");
                        }
                    }
                });
                $("#deleteDialog").dialog("open");
            }
            });


        $('#showActive').click(function (e) {
            var url = '@Html.Raw(@Url.Action("Index", "Drawings", new {status = "true", selection="showActive"}))';
            window.location.href = url;
        });

        $('#showInactive').click(function (e) {
            var url = '@Html.Raw(@Url.Action("Index", "Drawings", new {status = "false", selection = "showInactive" }))';
            window.location.href = url;
        });


    </script>

}