﻿@model BlackHills.ViewModel.UnitsViewModel
@{
    ViewData["Title"] = "Edit Unit";
}

<form id="UnitsForm" name="UnitsForm" asp-controller="Units" asp-action="SaveUnit" method="post">
    <input type="hidden" id="displayStatus" value="" />
    <input type="hidden" id="selectedOption" value="" />
    <div class="modal-content">
        <div class="modal-header text-center">
            <h4 class="modal-title text-center" id="editUnit" text-align="center">@ViewBag.TitleMessage</h4>
            <button type="button" class="close" data-dismiss="modal">
                <span>x</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="form-group">
                @Html.HiddenFor(model => model.UnitId)
                @Html.HiddenFor(model => model.isActive)
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-9"><span id="errorFacIdMessage" style="color:red"></span></div>
                    <div class="col-md-12">
                        <div class="form-group editor editorMediumText">
                            <label>Facility</label>
                            @Html.DropDownListFor(f => f.FacilityId, Model.ListFacilities, "Select", new { style = "width:400px; height:30px;" })
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-9"><span id="errorUnitNameMessage" style="color:red"></span></div>
                    <div class="col-md-12">
                        <div class="form-group editor editorMediumText">
                            <label>Unit Name</label>
                            @Html.TextBoxFor(M => M.UnitName, new { style = "width:400px; height:30px;", title = "Max 100 characters allowed" })
                        </div>
                    </div>

                </div>
                
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group editor editorMediumText">
                            <input type="submit" id="SaveEditUnit" value="Save" class="btn btn-primary" data-dismiss="modal">
                            <input type="button" class="btn btn-primary" data-dismiss="modal" value="Cancel">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<script>
    var unitsMasterList = @Html.Raw(Json.Serialize(Model.unitsMasterList));
    
         $(document).ready(function () {

        $("#errorDialog").dialog({
            autoOpen: false,
            modal: true,
            draggable: true
        });

        if ('@ViewBag.selectedOption' != "") {
            $("#selectedOption").val('@ViewBag.selectedOption');
            }

            if ('@ViewBag.displayStatus' != "") {
                $("#displayStatus").val('@ViewBag.displayStatus');
             }

             $('#UnitName').on('keypress', function (event) {
                 var regex = new RegExp("^[a-zA-Z0-9 /-]+$");
                 var key = String.fromCharCode(!event.charCode ? event.which : event.charCode);
                 if (!regex.test(key)) {
                     event.preventDefault();
                     return false;
                 }
             });
         });

    $('#SaveEditUnit').click(function () {
        
        var errorFlag = false;
        if (($("#UnitName").val().trim() == "" || $("#UnitName").val().length == 0)) {
            $("#errorUnitNameMessage").text("Please Enter Unit Name");
            errorFlag = true;
        }
        else {
            $("#errorUnitNameMessage").text("");
        }

        if ($("#FacilityId").val() == 0) {
            $("#errorFacIdMessage").text("Please Select Facility Id ");
            errorFlag = true;
        }
        else {
            $("#errorFacIdMessage").text("");
        }

        var unitName = $("#UnitName").val().trim();
        var facId = $("#FacilityId").val().trim();
        for (var i = 0; i < unitsMasterList.length; i++) {
            var unitStr = unitsMasterList[i].split(";");
            var facilityIdMaster = unitStr[0].trim();
            var unitNameMaster = unitStr[1].trim();
            if (unitName == unitNameMaster && facId == facilityIdMaster) {
                $("#errorUnitNameMessage").text("Unit Name already exists for the selected facility");
                errorFlag = true;
                break;
            }
        }

        if (errorFlag) {
            return false;
        }
        else {
            var status = $("#displayStatus").val();
            var selectedOption = $("#selectedOption").val();

            var input = $("<input>")
                .attr("type", "hidden")
                .attr("name", "displayStatus").val(status);
            $('#UnitsForm').append(input);

            var input1 = $("<input>")
                .attr("type", "hidden")
                .attr("name", "selectedOption").val(selectedOption);
            $('#UnitsForm').append(input1);
            $("#UnitsForm").submit();
        }

        })
</script>
