﻿@model BlackHills.ViewModel.DrawingsListModel

@{
    ViewData["Title"] = "BlackHill Drawings";
}


<div>
    <div>
        <br/>
        <h2>Manage Drawings</h2>
    </div>
    <br />
</div>

@section Scripts {

}