﻿@model BlackHills.ViewModel.DrawingsListModel

@{
    ViewData["Title"] = "BlackHill Drawings";
}


<form id="BlackHillsForm" asp-controller="Home" asp-action="Index">

    <div class="row">
        <div class="col-md-6">
            <div>
                <label class="lable-control">Facilities</label> &nbsp;
                @Html.DropDownListFor(m => m.FacilityId, Model.Facilities, new { @class = "editorBig" })
            </div>
        </div>

        <div class="col-md-6">
            <div>
                <label class="lable-control">Units</label> &nbsp;
                @Html.DropDownListFor(m => m.UnitId, Model.UnitsList, new { @class = "editorBig" })
            </div>
        </div>
    </div>
    <div class="modal" id="myFacilitiesModal" style="width:600px;height:600px;top:100px;left:480px;display:none;">
    </div>
</form>

<div class="container position-relative">
    @if (Model.Data != null)
    {
        <table id="tblIndex" class="display table table-sm table-bordered table-striped table-hover bg-white" width="100%">
            <thead>
                <tr>
                    <th style="display:none" width="15%"></th>
                    <th class="filterhead" width="27%">Drawing Name</th>
                    <th class="filterhead" width="33%">System Description</th>
                    <th width="20%">Unit</th>
                </tr>
            </thead>

            <tbody>
                @if (Model.Data != null)
                {
                    @foreach (var item in Model.Data)
                    {
                        <tr>
                            <td style="display:none"></td>
                            @if (item.FilePath != null)
                            {
                                <td><a href="@Url.Action("Download", "Home", new { filename = item.FilePath })" target="_blank" class="button3">@item.DrawingName</a></td>
                            }
                            else
                            {
                                <td>@item.DrawingName</td>
                            }
                            <td>@item.SystemDescription</td>
                            <td>@item.UnitDesc</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    }
</div>

    <div class="rowBorder"></div>
   
@section Scripts {

    <script>


        $('#myFacilitiesModal').on('show.bs.modal', function (e) {
            var $button = $(e.relatedTarget);
            var $row = $button.closest("tr");
            var $tds = $row.find("td");
            var id;
            $.each($tds, function (i, value) {
                if (i == 0) {
                    id = $(this).text().trim().toString();
                }
            });
    var url = '@Html.Raw(Url.Action("AddFacilities", "Home"))';
            $('#myFacilitiesModal').load(url);
        })


        $('#FacilityId').change(function () {
            var facilityId = $(this).val();
            $('#UnitId').val(null);
            var input = $("<input>")
                .attr("type", "hidden")
                .attr("name", "source").val("Facility");
            $('#BlackHillsForm').append(input);

            var facilityIdVar = $("<input>")
                .attr("type", "hidden")
                .attr("name", "facilityId").val(facilityId);
            $('#BlackHillsForm').append(facilityIdVar);
            $('#BlackHillsForm').submit();
        })

        $('#UnitId').change(function () {
            var input = $("<input>")
                .attr("type", "hidden")
                .attr("name", "source").val("Search");
            $('#BlackHillsForm').append(input);
            $('#BlackHillsForm').submit();
        })


    $(document).ready(function () {
        var table = $('#tblIndex').DataTable({
            scrollY: 500,
            paging: false,
            'ordering': false,
            'columnDefs': [
                            { "searchable": false }
                        ],
            dom: 't',
            initComplete: function () {
                var api = this.api();
                $('.filterhead', api.table().header()).each(function () {
                    var title = $(this).text();
                    $(this).html(title+'&nbsp; <input type="text" placeholder="Search" class="column_search" />');
                });

            }
        });

        $('table thead').on('keyup', ".column_search", function () {

            table
                .column($(this).parent().index())
                .search(this.value)
                .draw();
        });
   

    });
    </script>
}