﻿@model BlackHills.ViewModel.FacilitiesViewModel
@{
    ViewData["Title"] = @ViewBag.TitleMessage;
}

<style>

    #popup1 {
        z-index: 9997;
    }

    #errorDialog {
        z-index: 9998;
    }

    #long-textbox {
        width: 300px;
    }

    .editorBig {
        width: 400px;
        height: 30px;
    }
</style>

<form id="FacilitiesForm" name="FacilitiesForm" asp-controller="Facilities" asp-action="SaveFacility" method="post">
    <input type="hidden" id="displayStatus" value="" />
    <input type="hidden" id="selectedOption" value="" />
    
    <div class="modal-content" id="popup1">
        <div class="modal-header text-center">
            <h4 class="modal-title text-center" id="editFacility" text-align="center">@ViewBag.TitleMessage</h4>
            <button type="button" class="close" data-dismiss="modal">
                <span>x</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="form-group">
                @Html.HiddenFor(model => model.FacilityId)
                @Html.HiddenFor(model => model.isActive)
                @Html.HiddenFor(model => model.facilitiesNamesList)
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-9"><span id="errorMessage" style="color:red"></span></div>
                    <div class="col-md-12">
                        <div class="form-group editor editorMediumText">
                            <label>Facility Name</label>
                            @Html.TextBoxFor(M => M.FacilityName, new { style = "width:400px; height:30px;", title="Max 100 characters allowed" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group editor editorMediumText">
                            <input type="submit" id="SaveEditFacility" value="Save" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" href="#errorDialog">
                            <input type="button" class="btn btn-primary" data-dismiss="modal" value="Cancel">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>

<script>
    var facilitiesMasterList = @Html.Raw(Json.Serialize(Model.facilitiesNamesList));
    $(document).ready(function () {

        $("#errorDialog").dialog({
            autoOpen: false,
            modal: true,
            draggable: true
        });

        if ('@ViewBag.selectedOption' != "") {
            $("#selectedOption").val('@ViewBag.selectedOption');
            }

            if ('@ViewBag.displayStatus' != "") {
                $("#displayStatus").val('@ViewBag.displayStatus');
        }

        $('#FacilityName').on('keypress', function (event) {
            var regex = new RegExp("^[a-zA-Z0-9 /-]+$");
            var key = String.fromCharCode(!event.charCode ? event.which : event.charCode);
            if (!regex.test(key)) {
                event.preventDefault();
                return false;
            }
        });
    });

    $('#SaveEditFacility').click(function (e) {

        if ($("#FacilityName").val().trim() == "" || $("#FacilityName").val().length == 0) {
            $("#errorMessage").text("Please Enter Facility Name");
            return false;
        }

        var facName = $("#FacilityName").val().trim();
        var facilityExists = false;
        for (var i=0;i<facilitiesMasterList.length;i++){
            if (facName == facilitiesMasterList[i]) {
                facilityExists = true;
                break;
            }
        }
        if (facilityExists) {
            $("#errorMessage").text("Facility Name already exists.");
            return false;
        }
            var status = $("#displayStatus").val();
        var selectedOption = $("#selectedOption").val();
        var input = $("<input>")
            .attr("type", "hidden")
            .attr("name", "displayStatus").val(status);
        $('#FacilitiesForm').append(input);

        var input1 = $("<input>")
            .attr("type", "hidden")
            .attr("name", "selectedOption").val(selectedOption);
        $('#FacilitiesForm').append(input1);
        $("#FacilitiesForm").submit();
    })
</script>
