﻿@model BlackHills.ViewModel.FacilitiesListModel

@{
    ViewData["Title"] = "BlackHill Drawings";
}



<div>
    <div>
        <br />
        <h2>Manage Facilities</h2>
    </div>
    <br />
</div>

<div class="modal" id="myFacilityModal" style="width:650px;height:600px;top:100px;left:480px;display:none;" >

</div>

<div class="modal" id="myEditFacilityModal" style="width:650px;height:600px;top:100px;left:480px;display:none;">

</div>

<div id="deleteDialog" title="Confirmation Required">
    Are you sure you want to delete this facility and any units associated with this facility?
</div>


<form id="BlackHillsForm" asp-controller="Home" asp-action="Index">

    <input type="hidden" id="displayStatus" value="" />
    <input type="hidden" id="selectedOption" value="" />

    <div class="container position-relative">
        <input type="button" id="newMaterial" class="btn btn-primary" href="@Url.Action("AddFacility", "Facilities")" data-toggle="modal" data-target="#myFacilityModal" value="Add New" />
    </div>


    <div class="container position-relative">
        @if (Model.Data != null)
        {
            <div style="background-color:white; padding-top:3px; padding-right:5px">

                <div class="row" style="width:100%">
                    &nbsp;
                    <div class="col-2">
                        <label style="float:left; font-size:18px;">
                            <b><input type="radio" id="showActive" name="show" class="check_in" value="showActive" checked="checked" style="height:20px; width:20px;" />Show Active</b>
                        </label>
                    </div>
                    <div class="col-2">
                        <label style="float:left; font-size:18px;">
                            <b><input type="radio" name="show" id="showInactive" class="check_in" value="showInactive" style="height:20px; width:20px;" />Show Inactive</b>
                        </label>
                    </div>
                </div>


                <table id="tblIndex" class="table table-sm table-bordered table-striped table-hover bg-white">

                    <thead>
                        <tr>
                            <th style="display: none"></th>
                            <th scope="col" width="50%">Facility</th>
                            <th class="no-sort" width="50%"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Data != null)
                        {
                            @foreach (var item in Model.Data)
                            {
                                <tr>
                                    <td style="display: none">@item.FacilityId</td>
                                    <td>@item.FacilityName</td>
                                    <td>
                                        <input type="button" id="editBtn" class="btn btn-primary" data-toggle="modal" data-target="#myEditFacilityModal" value="Edit" />&nbsp;&nbsp;
                                        @if (item.deleteEnabledFlag)
                                        {
                                            <input type="submit" id="deleteBtn" value="Delete" class="dosubmit btn btn-primary" />
                                        }
                                        else
                                        {
                                            <input type="submit" disabled="disabled" id="deleteBtn" value="Delete" class="dosubmit btn btn-primary" title="The selected facility has drawings associated with it. It cannot be deleted." data-toggle="tooltip" />
                                        }
                                        &nbsp;&nbsp;
                                        @if (item.isActive)
                                        {
                                            <input type="button" id="InactivateBtn" value="Inactivate" class="dosubmit btn btn-primary" />
                                        }
                                        else
                                        {
                                            <input type="button" id="ActivateBtn" value="Activate" class="dosubmit btn btn-primary " />
                                        }
                                    </td>

                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        }
    </div>

</form>

@section Scripts {

    <script>


        $(document).ready(function () {

            if ('@ViewBag.selectedOption' != "") {
                $("#" + '@ViewBag.selectedOption').prop('checked', true);
                $("#selectedOption").val('@ViewBag.selectedOption');
             }

            if ('@ViewBag.displayStatus' != "") {
                $("#displayStatus").val('@ViewBag.displayStatus');
            }


            $("#deleteBtn").tooltip();
            var table = $('#tblIndex').DataTable({
                'paging': false,
                "sScrollY": "500",
                'info': false,
                'ordering': false,
                "columnDefs": [
                    { "searchable": false, "targets": 0 },
                    { "orderable": false, "targets": "no-sort"}
                ]
            });


            $("#deleteDialog").dialog({
                autoOpen: false,
                modal: true
            });

        });

        $('#myFacilityModal').on('show.bs.modal', function (e) {
            var url = '@Url.Action("AddFacility", "Facilities", new { displayStatus = "replaceVar1", selection = "replaceVar2" })';
            var displayStatus = $("#displayStatus").val();
            var selectedOption = $("#selectedOption").val();
            var url1 = url.replace("replaceVar1", displayStatus);
            var url2 = url1.replace("replaceVar2", selectedOption);
            $('#myFacilityModal').load(url2);
        })

        $('#myEditFacilityModal').on('show.bs.modal', function (e) {

            var $button = $(e.relatedTarget);
            var $row = $button.closest("tr");
            var $tds = $row.find("td");
            var facId;

            $.each($tds, function (i, value) {
                if (i == 0) {
                    facId = $(this).text().trim().toString();
                }
            });

            var displayStatus = $("#displayStatus").val();
            var selectedOption =  $("#selectedOption").val();
            var url = '@Html.Raw(@Url.Action("EditFacility", "Facilities", new {facilityId = "replaceVar1", displayStatus = "replaceVar2", selection="replaceVar3"}))';
            var url1 = url.replace("replaceVar1", facId);
            var url2 = url1.replace("replaceVar2", displayStatus);
            var url3 = url2.replace("replaceVar3", selectedOption);
            $('#myEditFacilityModal').load(url3);


        })

        $('.dosubmit').click(function (e) {
            var currrow = $(this).closest('tr');
            var facId = currrow.find('td:eq(0)').text().trim();
            var displayStatus = $("#displayStatus").val();
            var selectedOption = $("#selectedOption").val();




            if ($(this).val() == 'Activate') {
                var url = '@Html.Raw(@Url.Action("ActivateFacility", "Facilities", new { facilityId = "replaceVar1",status="false", selection = "showInactive" }))';
                var urlWithParam1 = url.replace("replaceVar1", facId);
                window.location.href = urlWithParam1;
            }

            if ($(this).val() == 'Inactivate') {
                var url = '@Html.Raw(@Url.Action("InactivateFacility", "Facilities", new { facilityId = "replaceVar1", status="true", selection = "showActive" }))';
                var urlWithParam1 = url.replace("replaceVar1", facId);
                window.location.href = urlWithParam1;
            }

            if ($(this).val() == 'Delete') {

                var url = '@Html.Raw(@Url.Action("DeleteFacility", "Facilities", new {facilityId = "replaceVar1", displayStatus="replaceVar2", selection= "replaceVar3"}))';
                var urlWithParam1 = url.replace("replaceVar1", facId);
                var urlWithParam2 = urlWithParam1.replace("replaceVar2", displayStatus);
                var urlWithParam3 = urlWithParam2.replace("replaceVar3", selectedOption);
                e.preventDefault();
                $("#deleteDialog").dialog({
                    buttons: {
                        "Yes": function () {

                            $("#BlackHillsForm").attr("action", urlWithParam3);
                            $('#BlackHillsForm').submit();
                        },
                        "No": function () {
                            $(this).dialog("close");
                        }
                    }
                });
                $("#deleteDialog").dialog("open");
            }
        });

        $('#showActive').click(function (e) {

            var url = '@Html.Raw(@Url.Action("Index", "Facilities", new {status = "true", selection="showActive"}))';
            window.location.href = url;
        });

        $('#showInactive').click(function (e) {

            var url = '@Html.Raw(@Url.Action("Index", "Facilities", new {status = "false", selection="showInactive" }))';
            window.location.href = url;
        });
    </script>

}