﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    background-color: white;
    background-image: url('/images/COVERPAGEPHOTO.JPG');
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}

.editor label {
    float: left;
    width: 150px;
    
}

.editorBigText input[type=text] {
    width: 400px;
    height: 30px;
}

.editorMediumText input[type=text] {
    width: 250px;
    height: 30px;
}
.editorSmallText input[type=text] {
    width: 100px;
    height: 30px;
}
.editorBig {
    width: 400px;
    height: 30px;
}
.editorHeight {
    height: 30px;
}

.required::before {
    content: "*";
    font-weight: bold;
    color: red;
}

.desired_node_class > .jstree-anchor {
    color: green;
    background-color: red;
}

.wide {
    width: 230px;
}

.editorSmallHeight input[type=text] {
    height: 20px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.footer {
    position: fixed;
    bottom: 10px;
}